$primary: #c29938;
$light: #f7f4ec;

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192,
);

/* Import Functions & Variables */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

/* Import Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";
